<span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="modal" data-target="#editRiskModal"></span>
<!-- Modal -->
<div class="modal fade" id="editRiskModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Risk</h4>
      </div>
      <div class="modal-body">
		<form>
		  <label>
		    Risk Name:
		  </label>
		  <input type="text" ng-model='riskEdit.rEdition.name'/>
		  <label>
		    Description:
		  </label>
		  <input type="text" ng-model='riskEdit.rEdition.description'/>

		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='riskEdit.submit()'>Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    
  </div>
</div>