<span class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="modal" data-target="#addResourceModal"></span>

<!-- Modal -->
<div class="modal fade" id="addResourceModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Resource</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
        <fieldset>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="resourceAdd.resource.description">Descripción</label>  
          <div class="col-md-4">
          <input ng-model="resourceAdd.resource.description" name="resourceAdd.resource.description" type="text" placeholder="Descripción" class="form-control input-md">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="resourceAdd.resource.cost">Cost</label>  
          <div class="col-md-4">
          <input ng-model="resourceAdd.resource.cost" name="resourceAdd.resource.cost" type="text" placeholder="Consecuancia" class="form-control input-md">
            
          </div>
        </div>


        </fieldset>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='resourceAdd.submit()'>Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    
  </div>
</div>