<span class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="modal" data-target="#addRiskModal"></span>

<!-- Modal -->
<div class="modal fade" id="addRiskModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Risk</h4>
      </div>
      <div class="modal-body">
		<form>
		  <label>
		    Risk Name:
		  </label>
		  <input type="text" ng-model='riskAdd.risk.name'/>
		  <label>
		    Description:
		  </label>
		  <input type="text" ng-model='riskAdd.risk.description'/>

		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='riskAdd.submit()'>Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    
  </div>
</div>