<div class="panel panel-danger">
  <!-- Default panel contents -->
  <div class="panel-heading">Resources
		<resource-add class="pull-right" accion=resourceList.accion></resource-add>
  </div>
<ul class="list-group" >
	<li class="list-group-item">
		<div class="row">
				<div class="col-md-3">Descripcion</div>
				<div class="col-md-3">Costo</div>
				<div class="col-md-3">Opciones</div>
		</div>
	</li>
	<li ng-repeat="resource in resourceList.resources" class="list-group-item">
		<div class="row">
			<div class="col-md-3">{{resource.description}}</div>
			<div class="col-md-3">{{resource.cost}}</div>
			<div class="col-md-3">
				<resource-edit resource=resource></resource-edit>
				<resource-remove resource=resource></resource-remove>
			</div>
		</div>
	</li>
</ul>
</div>