<div class="margins panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	Projects
  	<project-add class="pull-right"></project-add>
  </div>
 
  <ul class="list-group" >
	<li class="list-group-item">
	<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">Nombre</div>
			<div class="col-md-3">Descripcion</div>
			<div class="col-md-3">Opciones</div>
		</div>
	</li>
	<li ng-repeat="project in projectList.projects" class="list-group-item">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">{{project.name}}</div>
			<div class="col-md-3">{{project.description}}</div>
			<div class="col-md-3">
				<project-edit project="project"></project-edit>
				<project-remove project="project"></project-remove>
		        <span class="glyphicon glyphicon-align-justify" data-target=".risk-collapse{{project._id}}" data-toggle="collapse" ></span>
			</div>
		</div>
		<div class="row risk-collapse{{project._id}} collapse">
			<risk-list project=project></risk-list>
		</div>
	</li>
  </ul>
</div>


