<div class="panel panel-warning">
  <!-- Default panel contents -->
  <div class="panel-heading">Accions
  		<accion-add class="pull-right" cause=accionList.cause></accion-add>
  </div>
<ul class="list-group" >
	<li class="list-group-item">
		<div class="row">
				<div class="col-md-3">Actividad</div>
				<div class="col-md-3">Dependencia</div>
				<div class="col-md-3">Costo</div>
				<div class="col-md-3">Opciones</div>
		</div>
	</li>
	<li ng-repeat="accion in accionList.accions" class="list-group-item">
		<div class="row">
			<div class="col-md-3">{{accion.activity}}</div>
			<div class="col-md-3">{{accion.dependency}}</div>
			<div class="col-md-3">{{accion.cost}}</div>
			<div class="col-md-3">
				<accion-edit accion="accion"></accion-edit>
				<accion-remove accion="accion"></accion-remove>
				<span class="glyphicon glyphicon-align-justify" data-target=".resource-collapse{{accion._id}}" data-toggle="collapse" ></span>
			</div>
		</div>
		<div class="row resource-collapse{{accion._id}} collapse">
			<resource-list accion=accion></resource-list>
		</div>
	</li>
</ul>
</div>