<span class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="modal" data-target="#addProjectModal"></span>

<!-- Modal -->
<div class="modal fade" id="addProjectModal" role="dialog" style="color:blue">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Risk</h4>
      </div>
      <div class="modal-body">
		<form>
		  <label>
		    Project Name:
		  </label>
		  <input type="text" ng-model='projectAdd.project.name'/>
		  <label>
		    Description:
		  </label>
		  <input type="text" ng-model='projectAdd.project.description'/>
		</form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='projectAdd.submit()'>Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    
  </div>
</div>