<div class="panel panel-success">
  <!-- Default panel contents -->
  <div class="panel-heading">Risks
    	<risk-add class="pull-right" project=riskList.project></risk-add>
  </div>
<ul class="list-group" >
	<li class="list-group-item">
		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">Nombre</div>
				<div class="col-md-3">Descripcion</div>
				<div class="col-md-3">Opciones</div>
		</div>
	</li>
	<li ng-repeat="risk in riskList.risks" class="list-group-item">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">{{risk.name}}</div>
			<div class="col-md-3">{{risk.description}}</div>
			<div class="col-md-3">
				<risk-edit risk=risk></risk-edit>
				<risk-remove risk=risk></risk-remove>
				<span class="glyphicon glyphicon-align-justify" data-target=".cause-collapse{{risk._id}}" data-toggle="collapse" ></span>
			</div>
		</div>
		<div class="row cause-collapse{{risk._id}} collapse">
			<cause-list risk=risk></cause-list>
		</div>
	</li>
</ul>
</div>
