<span class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="modal" data-target="#addCauseModal"></span>

<!-- Modal -->
<div class="modal fade" id="addCauseModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Cause</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
        <fieldset>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="causeAdd.cause.description">Descripción</label>  
          <div class="col-md-4">
          <input ng-model="causeAdd.cause.description" name="causeAdd.cause.description" type="text" placeholder="Descripción" class="form-control input-md">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="causeAdd.cause.consequence">Consecuencia</label>  
          <div class="col-md-4">
          <input ng-model="causeAdd.cause.consequence" name="causeAdd.cause.consequence" type="text" placeholder="Consecuancia" class="form-control input-md">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="causeAdd.cause.trigger">Disparador</label>  
          <div class="col-md-4">
          <input ng-model="causeAdd.cause.trigger" name="causeAdd.cause.trigger" type="text" placeholder="Disparador" class="form-control input-md">
            
          </div>
        </div>

        </fieldset>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='causeAdd.submit()'>Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    
  </div>
</div>