<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">Causes
		<cause-add class="pull-right" risk=causeList.risk></cause-add>
  </div>
<ul class="list-group" >
	<li class="list-group-item">
		<div class="row">
				<div class="col-md-3">Descripcion</div>
				<div class="col-md-3">Consecuencia</div>
				<div class="col-md-3">Disparador</div>
				<div class="col-md-3">Opciones</div>
		</div>
	</li>
	<li ng-repeat="cause in causeList.causes" class="list-group-item">
		<div class="row">
			<div class="col-md-3">{{cause.description}}</div>
			<div class="col-md-3">{{cause.consequence}}</div>
			<div class="col-md-3">{{cause.trigger}}</div>
			<div class="col-md-3">
				<cause-edit cause=cause></cause-edit>
				<cause-remove cause=cause></cause-remove>
				<span class="glyphicon glyphicon-align-justify" data-target=".accion-collapse{{cause._id}}" data-toggle="collapse" ></span>
			</div>
		</div>
		<div class="row accion-collapse{{cause._id}} collapse">
			<accion-list cause=cause></accion-list>
		</div>
	</li>
</ul>
</div>