<span class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="modal" data-target="#addActionModal"></span>

<!-- Modal -->
<div class="modal fade" id="addActionModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Action</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">
                Plan M:
              </label>
              <div class="col-md-4">
                <input class="form-control input-md" type="text" ng-model='accionAdd.accion.planM'/>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
            <label class="col-md-4 control-label">
              Plan C:
            </label>
            <div class="col-md-4">
            <input class="form-control input-md" type="text" ng-model='accionAdd.accion.planC'/>
            </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
            <label class="col-md-4 control-label">
              Deliveries:
            </label>
            <div class="col-md-4">
            <input class="form-control input-md" type="text" ng-model='accionAdd.accion.deliveries'/>
            </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
            <label class="col-md-4 control-label">
              Activity:
            </label>
            <div class="col-md-4">
            <input class="form-control input-md" type="text" ng-model='accionAdd.accion.activity'/>
            </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
            <label class="col-md-4 control-label">
              Dependency:
            </label>
            <div class="col-md-4">
            <input class="form-control input-md" type="text" ng-model='accionAdd.accion.dependency'/>
            </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
            <label class="col-md-4 control-label">
              Time:
            </label>
            <div class="col-md-4">
            <input class="form-control input-md" type="text" ng-model='accionAdd.accion.time'/>
            </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
            <label class="col-md-4 control-label">
              Dead Line:
            </label>
            <div class="col-md-4">
            <input class="form-control input-md" type="text" ng-model='accionAdd.accion.deadLine'/>
            </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
            <label class="col-md-4 control-label">
              Cost:
            </label>
            <div class="col-md-4">
            <input class="form-control input-md" type="text" ng-model='accionAdd.accion.cost'/>
            </div>
            </div>
          </fieldset>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='accionAdd.submit()'>Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    
  </div>
</div>