<span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="modal" data-target="#editCauseModal"></span>

<!-- Modal -->
<div class="modal fade" id="editCauseModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Cause</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
        <fieldset>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="causeEdit.cEdition.description">Descripción</label>  
          <div class="col-md-4">
          <input ng-model="causeEdit.cEdition.description" name="causeEdit.cEdition.description" type="text" placeholder="Descripción" class="form-control input-md">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="causeEdit.cEdition.consequence">Consecuencia</label>  
          <div class="col-md-4">
          <input ng-model="causeEdit.cEdition.consequence" name="causeEdit.cEdition.consequence" type="text" placeholder="Consecuancia" class="form-control input-md">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="causeEdit.cEdition.trigger">Disparador</label>  
          <div class="col-md-4">
          <input ng-model="causeEdit.cEdition.trigger" name="causeEdit.cEdition.trigger" type="text" placeholder="Disparador" class="form-control input-md">
            
          </div>
        </div>

        </fieldset>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='causeEdit.submit()'>Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    
  </div>
</div>